.queue-list {
    margin-left:auto;
    margin-right:auto;
    font-weight:600;
    font-size:20px;
}
.queue-list__column {
    width: 150px;
}
.queue-list__name {
    width: 200px;
}
.queue-list__consumers {
    @extend .queue-list__column;
}
.queue-list__depth {
    @extend .queue-list__column;
}
.queue-list__max-depth {
    @extend .queue-list__column;
}
.queue-list__proc {
    @extend .queue-list__column;
}
.queue-list__avg-processed-sec-short {
    @extend .queue-list__column;
}
.queue-list__avg-processed-sec-long {
    @extend .queue-list__column;
}
.queue-list__laps {
    @extend .queue-list__column;
}
.queue-list-entry__row {
    text-align: center;
    font-weight: 500;
}
.queue-list-entry__name {
    text-align:left;
    padding-left:20px;
}
.max-processed__count {
    float: left;
    width: 50px;
}
.max-processed__date {
    font-size: 12px;
    float: right;
    line-height: 20px;
}