.button-container {
    height:30px;
    width:150px;
    border-radius:15px;
    margin-left:20px;
    margin-top:50px;
    background-color:#ff6d00;
    border-radius:15px;
    padding:5px;
    cursor:pointer;
}
.button {
    width:150px;
    background-color:$clouds;
    text-align:center;
    line-height:30px;
    border-radius:15px;
}
