/* line 1, ../sass/_racetrack.scss */
.race-container {
  width: 100%;
  position: relative;
  float: right;
}

/* line 8, ../sass/_racetrack.scss */
.racer-row {
  width: 100%;
  height: 50px;
  float: left;
  position: relative;
  border-bottom: 1px solid #ecf0f1;
}

/* line 16, ../sass/_racetrack.scss */
.racer-row__name {
  z-index: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-top: 25px;
}

/* line 26, ../sass/_racetrack.scss */
.racer-row__racer-container {
  width: 100px;
  height: 100px;
  position: absolute;
}

/* line 32, ../sass/_racetrack.scss */
.racer {
  width: 100px;
  height: 100px;
}

/* line 37, ../sass/_racetrack.scss */
.racer--image {
  z-index: 2;
}

/* line 42, ../sass/_racetrack.scss */
.racer--dot {
  margin-top: 15px;
}

/* line 1, ../sass/_queueList.scss */
.queue-list {
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 20px;
}

/* line 7, ../sass/_queueList.scss */
.queue-list__column, .queue-list__consumers, .queue-list__depth, .queue-list__max-depth, .queue-list__proc, .queue-list__avg-processed-sec-short, .queue-list__avg-processed-sec-long, .queue-list__laps {
  width: 150px;
}

/* line 10, ../sass/_queueList.scss */
.queue-list__name {
  width: 300px;
}

/* line 34, ../sass/_queueList.scss */
.queue-list-entry__row {
  text-align: center;
  font-weight: 500;
}

/* line 38, ../sass/_queueList.scss */
.queue-list-entry__name {
  text-align: left;
  padding-left: 20px;
}

/* line 1, ../sass/_leaderboard.scss */
.leaderboard {
  float: left;
}

/* line 5, ../sass/_leaderboard.scss */
.leaderboard__header {
  font-weight: 600;
}

/* line 8, ../sass/_leaderboard.scss */
.leaderboard-header__name {
  width: 200px;
}

/* line 11, ../sass/_leaderboard.scss */
.leaderboard-header__category {
  width: 250px;
}

/* line 1, ../sass/_runtime.scss */
.runtime-container {
  height: 30px;
  width: 200px;
  margin-top: 50px;
}

/* line 1, ../sass/_toggle.scss */
.button-container {
  height: 30px;
  width: 150px;
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 50px;
  background-color: #ff6d00;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}

/* line 12, ../sass/_toggle.scss */
.button {
  width: 150px;
  background-color: #ff6d00;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
}

/* line 1, ../sass/_chart.scss */
.graph-top-parent {
  position: relative;
  float: left;
  height: 200px;
  width: 600px;
}

/* line 1, ../sass/_container.scss */
.queue-overall-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #ecf0f1;
  font-family: sans-serif;
}

/* line 9, ../sass/_container.scss */
.queue-combined-container {
  text-align: center;
  height: 30px;
  line-height: 30px;
}

/* line 14, ../sass/_container.scss */
.runtime-toggle-container {
  float: left;
}

/* line 17, ../sass/_container.scss */
.leaderboard__row--changed {
  color: #66c2ff;
}

/* line 20, ../sass/_container.scss */
.leaderboard__row--no-change {
  color: #ff6d00;
}

/* line 11, ../sass/jms-queues.scss */
html {
  background-color: #2c3e50;
}
