<table class="leaderboard" data-bind="with: leaderboard">
    <thead class="leaderboard-header">
        <tr>
            <th class="leaderboard-header__name">Queue</th>
            <th class="leaderboard-header__category">Category</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko with: maxQueue -->
        <tr data-bind="style: { color: getColor() }">
            <td data-bind="text: name"/>
            <td data-bind="text: type"/>
            <td data-bind="text: value"/>
        </tr>
        <!-- /ko -->
        <!-- ko with: bestAvg -->
        <tr data-bind="style: { color: getColor() }">
            <td data-bind="text: name"/>
            <td data-bind="text: type"/>
            <td data-bind="text: value"/>
        </tr>
        <!-- /ko -->
        <!-- ko with: bestTotalAvg -->
        <tr data-bind="style: { color: getColor() }"}>
            <td data-bind="text: name"/>
            <td data-bind="text: type"/>
            <td data-bind="text: value"/>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
