<table class="queue-list">
    <thead>
        <tr>
            <th class="queue-list-header queue-list__name">Queue Name</th>
            <th class="queue-list-header queue-list__consumers">Consumers</th>
            <th class="queue-list-header queue-list__depth">Queue Depth</th>
            <th class="queue-list-header queue-list__max-depth">Max Depth</th>
            <th class="queue-list-header queue-list__proc">Processed<br/>(15 sec)</th>
            <th class="queue-list-header queue-list__avg-processed-sec-short">Processed/Sec<br/>(15 sec avg)</th>
            <th class="queue-list-header queue-list__avg-processed-sec-long">Processed/Sec<br/>(5 min avg)</th>
            <th class="queue-list-header queue-list__laps">Laps</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: queues">
        <tr class="queue-list-entry__row" data-bind="style: { color: color }">
            <td class="queue-list-entry__name" data-bind="text: shortName"></td>
            <td data-bind="text: numConsumers"></td><td data-bind="text: numPending"></td>
            <td data-bind="text: maxPending"></td><td data-bind="text: numProcessed"></td>
            <td data-bind="text: avgProcessedPerSec"></td>
            <td data-bind="text: totalAvgProcessedPerSec"></td>
            <td data-bind="text: horse().numLaps"></td>
        </tr>
    </tbody>
</table>
