<div class="race-container">
    <!-- ko foreach: queues -->
    <div class="racer-row">
        <span class="racer-row__name" data-bind="text: reallyShortName"></span>
        <div class="racer-row__racer-container" data-bind="attr: { id: horse().name }">
            <img class="racer racer-image" data-bind="attr: {src: horse().sourceImage}, visible: !$root.useSimpleImg()"/>
            <svg class="racer racer-dot" data-bind="visible: $root.useSimpleImg, style: {fill: color}" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="40" cy="40" r="40"/>
            </svg>
        </div>
    </div>
    <!-- /ko -->
</div>
